@{
    ViewData["Title"] = "Ustaw nowe hasło";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@model ResetPasswordViewModel

<link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/Index/animate.min.css" rel="stylesheet" />
<link href="~/css/Index/index.css" rel="stylesheet" />
<link href="~/css/Index/circleProgress.css" rel="stylesheet" />

<body>
    <!--==========================
    Header
    ============================-->
    <header id="header">
        <div class="container">
            <div id="logo" class="pull-left">

                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/Index/logo.png" />
                </a>
                <!-- Uncomment below if you prefer to use a text logo -->
                <!--<h1><a href="#hero">Regna</a></h1>-->
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Strona główna</a></li>
                </ul>

            </nav><!-- #nav-menu-container -->
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </header><!-- #header -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12 center-block">
                <h1><font color="#2dc997">@ViewData["Title"]</font></h1>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input asp-for="Code" type="hidden" />
                            <div class="form-group">
                                <label asp-for="Email"><font color="#fff" size="3">Email</font></label>
                                <input asp-for="Email" class="form-control" placeholder="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"><font color="#fff" size="3">Nowe hasło</font></label>
                                <input asp-for="Password" class="form-control" placeholder="Nowe hasło" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword"><font color="#fff" size="3">Potwierdź nowe hasło</font></label>
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="Potwierdź nowe hasło" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-default">Ustaw nowe hasło</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
