<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Zadbaj o siebie</title>
    <link href="~/images/Index/logo.png" rel="icon" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
</head>

<body>

    <header id="header">
        <div class="container">
            <div id="logo" class="pull-left">

                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/Index/logo.png" />
                </a>
                <!-- Uncomment below if you prefer to use a text logo -->
                <!--<h1><a href="#hero">Regna</a></h1>-->
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Strona główna</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
            <nav id="nav-menu-container2">
                <ul class="nav-menu">
                    <li class=""><a asp-area="" asp-controller="" asp-action="">Wyloguj</a></li>
                </ul>
            </nav>
        </div>
    </header><!-- #header -->
    <!--==========================
      Hero Section
    ============================-->
    <section id="hero">

        <div class="hero-container">
            

            <div>
                <h2><font color="2dc997">Panel zarządzania kontem</font></h2>
                <hr width="50%">
                <div class="row">
                    <div class="col-md-2 col-md-offset-3" id="marginBootstrap">
                        @await Html.PartialAsync("_ManageNav")
                    </div>
                    <div class="col-md-7 ">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #hero -->

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/Index/index.min.js" asp-append-version="true"></script>
        <script src="~/js/Index/counterup.min.js" asp-append-version="true"></script>
        <script src="~/js/Index/easing.min.js" asp-append-version="true"></script>
        <script src="~/js/Index/hoverIntent.min.js" asp-append-version="true"></script>
        <script src="~/js/Index/superfish.min.js" asp-append-version="true"></script>
        <script src="~/js/Index/waypoints.min.js" asp-append-version="true"></script>
        <script src="~/js/Index/wow.min.js" asp-append-version="true"></script>
        <script src="~/js/Index/fakeVisitCounter.min.js" asp-append-version="true"></script>
        <script src="~/js/Kalendarz/kalendarz.min.js"></script>
        <script src="~/js/Kalendarz/JavaScript.js"></script>
        <script src="~/js/Index/changeBack2.js"></script>
        <script src="~/js/WyborKategorii/circle.js"></script>
        <script src="~/js/panelTabs.js"></script>
        <script src="~/js/chart.js"></script>
        <script src="~/js/raphael.js"></script>
        <script src="~/js/morris.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/Index/index.min.js" asp-append-version="true"></script>
        <script src="~/js/Index/counterup.min.js" asp-append-version="true"></script>
        <script src="~/js/Index/easing.min.js" asp-append-version="true"></script>
        <script src="~/js/Index/hoverIntent.min.js" asp-append-version="true"></script>
        <script src="~/js/Index/superfish.min.js" asp-append-version="true"></script>
        <script src="~/js/Index/waypoints.min.js" asp-append-version="true"></script>
        <script src="~/js/Index/wow.min.js" asp-append-version="true"></script>
        <script src="~/js/Index/fakeVisitCounter.min.js" asp-append-version="true"></script>
        <script src="~/js/Kalendarz/kalendarz.min.js"></script>
        <script src="~/js/Kalendarz/JavaScript.js"></script>
        <script src="~/js/Index/changeBack2.js"></script>
        <script src="~/js/WyborKategorii/circle.js"></script>
        <script src="~/js/panelTabs.js"></script>
        <script src="~/js/chart.js"></script>
        <script src="~/js/raphael.js"></script>
        <script src="~/js/morris.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
