@{
    ViewData["Title"] = "Lift It";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<head>
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/Index/animate.min.css" rel="stylesheet" />
    <link href="~/css/Index/index.css" rel="stylesheet" />
    <link href="~/css/Kalendarz/kalendarz.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
</head>


<body>
    <!--==========================
    Header
    ============================-->
    <header id="header">
        <div class="container">
            <div id="logo" class="pull-left">

                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/Index/logo.png" />
                </a>
                <!-- Uncomment below if you prefer to use a text logo -->
                <!--<h1><a href="#hero">Regna</a></h1>-->
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Strona główna</a></li>
                    <li class="menu-active"><a asp-area="" asp-controller="Kalendarz" asp-action="Index">Kalendarz</a></li>
                </ul>

            </nav><!-- #nav-menu-container -->
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </header><!-- #header -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="calendar" id="calendar-app">
                    <div class="calendar--day-view" id="day-view">
                        <span class="day-view-exit" id="day-view-exit">&times;</span>
                        <span class="day-view-date" id="day-view-date">MAY 29 2016</span>
                        <div class="day-view-content">
                            <div class="day-highlight">
                                You <span class="day-events" id="day-events">had no events for today</span>. &nbsp; <span tabindex="0" onkeyup="if(event.keyCode != 13) return; this.click();" class="day-events-link" id="add-event" data-date>Add a new event?</span>
                            </div>
                            <div class="day-add-event" id="add-day-event-box" data-active="false">
                                <div class="row">
                                    <div class="half">
                                        <label class="add-event-label">
                                            Name of event
                                            <input type="text" class="add-event-edit add-event-edit--long" placeholder="New event" id="input-add-event-name">

                                        </label>
                                    </div>
                                    <div class="qtr">
                                        <label class="add-event-label">
                                            Start Time
                                            <input type="text" class="add-event-edit" placeholder="8:15" id="input-add-event-start-time" data-options="1,2,3,4,5,6,7,8,9,10,11,12" data-format="datetime">
                                            <input type="text" class="add-event-edit" placeholder="am" id="input-add-event-start-ampm" data-options="a,p,am,pm">
                                        </label>
                                    </div>
                                    <div class="qtr">
                                        <label class="add-event-label">
                                            End Time
                                            <input type="text" class="add-event-edit" placeholder="9" id="input-add-event-end-time" data-options="1,2,3,4,5,6,7,8,9,10,11,12" data-format="datetime">
                                            <input type="text" class="add-event-edit" placeholder="am" id="input-add-event-end-ampm" data-options="a,p,am,pm">
                                        </label>
                                    </div>
                                    <div class="half">
                                        <a onkeyup="if(event.keyCode != 13) return; this.click();" tabindex="0" id="add-event-save" class="event-btn--save event-btn">save</a>
                                        <a tabindex="0" id="add-event-cancel" class="event-btn--cancel event-btn">cancel</a>
                                    </div>
                                </div>

                            </div>
                            <div id="day-events-list" class="day-events-list">

                            </div>
                            <div class="day-inspiration-quote" id="inspirational-quote">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="calendar--view" id="calendar-view">
                                <div class="cview__month">
                                    <span class="cview__month-last" id="calendar-month-last"></span>
                                    <span class="cview__month-current" id="calendar-month"></span>
                                    <span class="cview__month-next" id="calendar-month-next"></span>

                                </div>
                                <div class="cview__header desktop">Niedziela</div>
                                <div class="cview__header desktop">Poniedziałek</div>
                                <div class="cview__header desktop">Wtorek</div>
                                <div class="cview__header desktop">Środa</div>
                                <div class="cview__header desktop">Czwartek</div>
                                <div class="cview__header desktop">Piątek</div>
                                <div class="cview__header desktop">Sobota</div>

                                <div class="cview__header mobile">Niedz.</div>
                                <div class="cview__header mobile">Pon.</div>
                                <div class="cview__header mobile">Wt.</div>
                                <div class="cview__header mobile">Śr.</div>
                                <div class="cview__header mobile">Czw.</div>
                                <div class="cview__header mobile">Pt.</div>
                                <div class="cview__header mobile">Sob.</div>
                                <div class="calendar--view" id="dates">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <span><span id="footer-date" class="footer__link">Dzisiaj jest</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>