@using LiftIt.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav">
    <li class="@ManageNavPages.IndexNavClass(ViewContext) btn btn-default btn-block"><a asp-action="Index"><font color="#000">Profil</font></a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext) btn btn-default btn-block"><a asp-action="ChangePassword"><font color="#000">Zmień hasło</font></a></li>
    @*@if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a asp-action="ExternalLogins">External logins</a></li>
    }
    <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a asp-action="TwoFactorAuthentication">Two-factor authentication</a></li>*@
</ul>

